* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.backgroundImage {
  background-image: url("../public/images/homepage/construction.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

nav {
  height: 20vh;
  padding: 2% 10%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

nav .nav-link {
  border: 1px solid black;
  padding: 1%;
  font-weight: 300;
  font-size: 1vw;
  color: black;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  text-decoration: none;
}

nav a:hover {
  color: white;
  background-color: black;
  background-repeat: no-repeat;
  cursor: pointer;
}

nav .nav-header {
  font-weight: 700;
  font-size: 3vw;
  text-transform: uppercase;
}

.main-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.main-body-title {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.main-body-title h2 {
  font-weight: 400;
  font-size: 1.2vw;
  padding: 1%;
}

.main-body-intro-text {
  margin: 3% 0;
  padding: 3% 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 1.2vw;
}

.website-link {
  font-weight: 600;
  text-transform: lowercase;
}

.main-body-portfolio-aboutme {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
}

.portfolio-aboutme {
  margin: 0 2%;
  font-weight: 400;
  font-size: 1.5vw;
  padding: 0.5%;
  border: 2px solid transparent;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.portfolio-aboutme:hover {
  border-bottom: 2px solid black;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  opacity: 0.85;
  margin-top: 10%;
}

.footer-socialmedia {
  width: 100%;
  padding: 2%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
}

footer .footer-link {
  text-decoration: none;
  color: white;
  padding: 1%;
  margin: 1%;
  border: 1px solid white;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1vw;
  font-weight: 400;
}

.footer-link:hover {
  color: black;
  background-color: white;
}

/*about page*/
.about-main-body {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.about-image {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1%;
  width: 41%;
}

.about-image img {
  width: 70%;
  border: 1px solid black;
}

.about-details {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  border-left: 1px solid black;
  padding-left: 1%;
  margin-top: 1%;
}

.about-details h2 {
  font-weight: 600;
  font-size: 1.75vw;
  text-transform: uppercase;
}
.about-details p {
  font-weight: 400;
  font-size: 1vw;
  line-height: 1.6;
}

.about-details-skills-tech h3 {
  font-weight: 500;
  font-size: 1.25vw;
  text-transform: uppercase;
}

.about-details-skills-tech {
  padding-top: 3%;
  width: 100%;
}

.about-details-skills-tech p {
  padding-left: 2%;
  font-weight: 300;
  font-size: 1vw;
  text-transform: capitalize;
}
